{
	admin off
	persist_config off
	auto_https off
	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {
	reverse_proxy http://keycloak-docker-file-production.up.railway.app:{$KC_HTTP_PORT}
}
